* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    min-height: 100vh;
}

nav {
    display: flex;
    padding: 10px 50px;
    max-height: 70px;
    background-color: rgba(24, 233, 233, 0.118);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: #6edafe solid 4px;
}

nav:hover {
    text-shadow: 0 0 3px rgba(4, 51, 51, 0.185);
    font-weight: 900;
}

ul {
    display: flex;
    list-style: none;
    font-weight: bolder;
    font-size: 2.6rem;
    color: #ffffff;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #0a5f7b;
}

.ImgLogo {
    height: 50px;
}

h1 {
    text-align: center;
    padding: 25px 0px 0px 0;
    color: #12485f;
    text-transform: capitalize;
    font-size: 3.5rem;
    font-weight: bolder;
    text-shadow: 0 0 5px #1eabda;
}

.ImgHero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    border-radius: 15px;
    box-shadow: 3px solid #1eabda;
    opacity: 80%;
    border: 5px solid rgba(1, 158, 249, 0.263);

}

h1:hover {
    color: aqua;
}

.TextSupe {
    text-wrap: border;
    margin-bottom: 35px;
    font-size: 1.8rem;
    text-align: center;
    text-transform: capitalize;
}

.Structure {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 25px;
    padding: 15px 50px;
    justify-content: center;
    text-align: justify;
}

h2 {
    text-align: center;
    padding: 10px 0px;
    color: rgb(14, 102, 102);
    text-transform: capitalize;
    font-size: 2.1rem;
    font-weight: bolder;
}

.SectionHtml {
    background-color: rgba(42, 181, 209, 0.575);
    width: 300px;
    height: 300px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.SectionCss {
    background-color: rgba(42, 181, 209, 0.575);
    width: 300px;
    height: 300px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.SectionCss {
    background-color: rgba(42, 181, 209, 0.575);
    width: 300px;
    height: 300px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.SectionBoxModel {
    background-color: rgba(42, 181, 209, 0.575);
    width: 300px;
    height: 300px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.SectionDisplay {
    background-color: rgba(42, 181, 209, 0.575);
    width: 300px;
    height: 300px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.SectionFlexBox {
    background-color: rgba(42, 181, 209, 0.575);
    width: 300px;
    height: 300px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.SectionMedidas {
    background-color: rgba(42, 181, 209, 0.575);
    width: 300px;
    height: 300px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.SectionSelectores {
    background-color: rgba(42, 181, 209, 0.575);
    width: 300px;
    height: 300px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.ImgComponents {
    width: 290px;
    height: 150px;
}

section>div:hover {
    transform: scale(0.92);
    transition: 4s;
}

footer {
    border: #6edafe solid 4px;
    padding: 20px 50px;
    background-color: rgba(0, 153, 255, 0.29);
    align-content: center;
    text-align: center;
    margin-top: auto;
}