* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 62.5%;
}
header{
    position:fixed;
    z-index: 100;
width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    min-height: 100vh;
}

main {
    flex: 1;
    margin-top: 70px;
}


nav {
    display: flex;
    padding: 10px 50px;
    max-height: 70px;
    background-color: #52b9db;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: #6edafe solid 4px;

}

ul {
    display: flex;
    list-style: none;
    font-weight: bolder;
    font-size: 2.6rem;
    color: #ffffff;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #0a5f7b;
}

.ImgLogo {
    height: 50px;
}

h1 {
    text-align: center;
    padding: 25px 0px 0px 0;
    color: #12485f;
    text-transform: capitalize;
    font-size: 3.5rem;
    font-weight: bolder;
    text-shadow: 0 0 5px #1eabda;
}

.ImgHero {
    display: block;
    margin-left: auto;
    max-width: auto;
    margin-right: auto;
    margin-bottom: 55px;
    border-radius: 15px;
    box-shadow: 3px solid #1eabda;
    opacity: 80%;
    border: 5px solid rgba(1, 158, 249, 0.263);

}

h1:hover {
    color: #52b9db;
}

.TextSupe {
    text-wrap: border;
    margin-bottom: 35px;
    font-size: 1.8rem;
    text-align: center;
    text-transform: capitalize;
    font-style: oblique;
}

.Structure {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1  5px 50px;
    justify-content: center;
    text-align: justify;
}

span{
font-size: 1.6rem;
font-family: sans-serif;
font-weight: bolder;
font-style: oblique;
color: #12485f;
}

p{
    margin-top: 15px;
font-size: 1.5rem;
font-family: sans-serif;
font-weight: 400;

}

h2 {
    text-align: center;
    padding: 10px 0px;
    color: rgb(14, 102, 102);
    text-transform: capitalize;
    font-size: 2.1rem;
    font-weight: bolder;
}

.SectionHtml {
    background-color: rgba(42, 181, 209, 0.575);
    width: 350px;
    height: 400px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.SectionCss {
    background-color: rgba(42, 181, 209, 0.575);
    width: 350px;
    height: 400px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.SectionCss {
    background-color: rgba(42, 181, 209, 0.575);
    width: 350px;
    height: 400px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.SectionBoxModel {
    background-color: rgba(42, 181, 209, 0.575);
    width: 350px;
    height: 400px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.SectionDisplay {
    background-color: rgba(42, 181, 209, 0.575);
    width: 350px;
    height: 400px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.SectionFlexBox {
    background-color: rgba(42, 181, 209, 0.575);
    width: 350px;
    height: 400px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.SectionMedidas {
    background-color: rgba(42, 181, 209, 0.575);
    width: 350px;
    height: 400px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.SectionSelectores {
    background-color: rgba(42, 181, 209, 0.575);
    width: 350px;
    height: 400px;
    margin: 5px auto;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #1eabda67;
}

.ImgComponents {
    width: 290px;
    height: 150px;
}

section>div:hover {
    transform: scale(0.92);
    transition: 4s;
}


button {
    display: block;
    width: 150px;
    margin-top: 50px;   
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #1eabda4e;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.412);
}
footer {
    border: #6edafe solid 4px;
    padding: 20px 50px;
    background-color: rgba(0, 153, 255, 0.29);
    align-content: center;
    text-align: center;
    margin-top: auto;
}