* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 62.5%;
}

header {
    width: auto;
    background-color: rgba(255, 249, 249, 0.022);
    height: 92px;
    padding: 24px 32px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.212);
    z-index: 100;
    width: 100%;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container {
    position: relative;
    width: 100%;
    height: 400px;

}

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: -1;
    object-fit: cover;
}




.ImgLogo {
    width: 140px;
    height: 40px;

}